@import '~@trussworks/react-uswds/lib/index.css';

.main-content-area {
  margin-top: 2em;
}

.vw-100 {
  max-width: calc(100vw - 1em) !important;
}

.float-lower-left {
  position: fixed;
  bottom: 0;
  left: 0;
}

input[type="file"] {
  display: none;
}

.save-image-button {
  zoom: 0.8;
  position: absolute;
  bottom: 1em;
  right: 1em;
  overflow: clip;
}

.save-image-button.expand-text:hover {
  width: 0;
}


.save-image-button.expand-text:hover {
  width: unset;
}

.svg-scale {
  padding: 3em;
}

.svg-container {
  height: fit-content;
}

textarea {
  resize: none;
  max-height: 3.7em;
}

textarea:disabled {
  background-color: rgba(227, 202, 1, 0) !important;
  cursor: grab !important;
}

input:disabled {
  background-color: rgba(227, 202, 1, 0) !important;
  cursor: grab !important;
}

/** todo; use variables to make this easier **/
:root {
  --top-drag-button-height: 2em;
}


li {
  list-style-type: none;
  border: 1px solid rgba(0, 0, 0, 0.37);
  border-radius: .25em;
  background-color: rgba(227, 202, 1, 0.56);
  padding-left: 17px;
  padding-top: var(--top-drag-button-height);
  padding-right: 7px;
  padding-bottom: 7px;
  margin: 5px;
  cursor: grab;
}

li.drag-disabled {
  background-color: rgb(227, 202, 1);
  cursor: default;
}

.drag-indicator {
  position: relative;
  border-radius: 0 !important;
  border-width: 11px;
  border-color: rgba(222, 184, 135, 0.59);
  border-style: none;
  border-left-style: double;
  padding-left: 17px;
  cursor: grab;
}

.delete-button {
  position: absolute;
  top: calc(-1 * var(--top-drag-button-height) + 7px);
  right: 0;
  padding: 7px; /* controls button size */
  margin: 0;
}

.save-button {
  position: absolute;
  top: calc(-1 * var(--top-drag-button-height) + 7px);
  right: 43px;
  padding: 7px; /* controls button size */
  margin: 0;
}

.edit-button {
  position: absolute;
  top: calc(-1 * var(--top-drag-button-height) + 7px);
  right: 43px;
  padding: 7px; /* controls button size */
  margin: 0;
}

.scrollable {
  overflow-y: scroll;
  max-height: calc(100vh - 5em);
}
